In [17]:
import requests
from bs4 import BeautifulSoup
from lxml import html

In [27]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36',
         "Accept-Language": "en-US,en;q=0.5"}
url = "https://www.imdb.com/title/tt0249603"
page = requests.get(url, headers=headers)

In [28]:
with open("output.html", "w") as file:
    file.write(page.text)

In [20]:
tree = html.fromstring(page.text)

In [21]:
title = tree.xpath("//span[@data-testid='hero__primary-text']/text()")[0]
title

'A Girl Thing'

In [22]:
director = tree.xpath("//a[@class='ipc-metadata-list-item__list-content-item ipc-metadata-list-item__list-content-item--link']/text()")[0]
director

'Lee Rose'

In [23]:
brief_plot = tree.xpath("//div[@class='sc-f5ef05d0-0 gutvDK']/descendant::div[@class='ipc-html-content-inner-div']/text()")
brief_plot

[]

In [24]:
genres = tree.xpath("//li[@data-testid='storyline-genres']/text()")
genres

[]

In [2]:
import pandas as pd

In [16]:
file = pd.read_csv("/mnt/c/Users/Riccardo De Cesaris/Downloads/title.akas.tsv", sep="\t")

In [17]:
file

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita,\N,\N,original,\N,1
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita,US,\N,imdbDisplay,\N,0
3,tt0000001,4,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
4,tt0000001,5,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
47999016,tt9916852,7,エピソード #3.20,JP,ja,\N,\N,0
47999017,tt9916852,8,Episodio #3.20,ES,es,\N,\N,0
47999018,tt9916856,1,The Wind,\N,\N,original,\N,1
47999019,tt9916856,2,The Wind,DE,\N,imdbDisplay,\N,0
47999020,tt9916880,1,Horrid Henry Knows It All,\N,\N,original,\N,1

In [18]:
names = pd.read_csv("/mnt/c/Users/Riccardo De Cesaris/Downloads/name.basics.tsv", sep="\t")

In [19]:
names

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0083922,tt0069467,tt0050976"
...,...,...,...,...,...,...
13422902,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt11657662,tt14069590,tt2455546"
13422903,nm9993716,Essias Loberg,\N,\N,\N,\N
13422904,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
13422905,nm9993718,Aayush Nair,\N,\N,cinematographer,tt8736744
13422906,nm9993719,Andre Hill,\N,\N,writer,\N

In [20]:
basics = pd.read_csv("/mnt/c/Users/Riccardo De Cesaris/Downloads/title.basics.tsv", sep="\t")

/tmp/ipykernel_21508/778473036.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  basics = pd.read_csv("/mnt/c/Users/Riccardo De Cesaris/Downloads/title.basics.tsv", sep="\t")

In [21]:
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
10705251,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009,\N,\N,"Action,Drama,Family"
10705252,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
10705253,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
10705254,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
10705255,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [3]:
crew = pd.read_csv("/mnt/c/Users/Riccardo De Cesaris/Downloads/title.crew.tsv", sep="\t")

In [4]:
crew

,tconst,directors,writers
0,tt0000001,nm0005690,\N
1,tt0000002,nm0721526,\N
2,tt0000003,nm0721526,\N
3,tt0000004,nm0721526,\N
4,tt0000005,nm0005690,\N
...,...,...,...
10066601,tt9916848,nm1485677,"nm9187127,nm1485677,nm9826385,nm9299459,nm1628284"
10066602,tt9916850,nm1485677,"nm9187127,nm1485677,nm9826385,nm1628284"
10066603,tt9916852,nm1485677,"nm9187127,nm1485677,nm9826385,nm9299459,nm1628284"
10066604,tt9916856,nm10538645,nm6951431
10066605,tt9916880,"nm0584014,nm0996406","nm1482639,nm2586970"